---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% assign teaching = site.teaching | sort: "order" %}

<ul>
{% for post in teaching %}
  <li>
    <a href="{{ post.url | prepend: base_path }}">{{ post.title }}</a><br>
    {% if post.summary %}
      {{ post.summary }}
    {% endif %}
    {% if post.summary_list %}
      <ul>
      {% for item in post.summary_list %}
        <li>{{ item }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    {% if post.link %}
      <p><a href="{{ post.link }}">Course material</a></p>
    {% endif %}
  </li>
{% endfor %}
</ul>
